@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-font: "Inter", sans-serif;
    --primary-color-font: #101828;
    --secondary-color-font: #667085;
    --color-red-dark: #8E2424;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 4rem;
}

/* logo e icon */

.btn-logo, .art-logo {
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 500;
    color: #3A404E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.art-logo {
    margin-right: 0.5rem;
}

.btn-logo {
    margin-left: 8rem;
    margin-right: 22rem;
}

/* barra de navegação */

.navbar {
    display: flex;
    gap: 60px;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
    margin-right: 28rem;
}

.navbar > li {
    cursor: pointer;
    color: var(--secondary-color-font);
    transition: font-size 0.3s, color 0.5s;
}

.navbar > li:hover {
    font-size: 1.05rem;
    color: #101828;
}

/* botões */

.btn-entrar {
   width: 7rem;
   height: 2.80rem;
   font-family: var(--primary-font);
   color: var(--secondary-color-font);
   font-weight: 500;
   display: flex;
   justify-content: center;
   vertical-align: middle;
   align-items: center;
   transition: background 0.2s, border 0.2s;
   border-radius: 8px;
   margin-right: 2px;
}

.btn-entrar:hover {
    border-bottom: 2px #8f8f8f solid;
    color: #101828;
    background: rgb(219, 219, 219);
}

.btn-cadastrar {
    background: var(--color-red-dark);
    border-radius: 8px;
    width: 7rem;
    height: 2.80rem;
    font-family: var(--primary-font);
    color: #fff;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

.btn-cadastrar:hover {
    background-color: #7a2020;
}

.btn-cadastrar:active {
    background-color: #af4242;
}

/* cabeçalho */

.cabecalho {
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-subheading {
    color: var(--color-red-dark);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 24px;
}

.content-heading {
    color: var(--primary-color-font);
    font-family: var(--primary-font);
    font-size: 3rem;
    margin-bottom: 24px;
}

.content-aboutus {
    color: var(--secondary-color-font);
    font-family: var(--primary-font);
    font-size: 1.25rem;
    width: 48%;
}

/* Metricas */
.metricas-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-template-rows: 192px;
    justify-content: center;
    gap: 45px;
    margin-bottom: 25vh;
}

.metricas-container > div {
    font-family: var(--primary-font);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 4px;
    padding: 8px;
}

.metricas-container > div > h1 {
    color: var(--color-red-dark);
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 12px;
}

.metricas-container > div > h2 {
    color: var(--primary-color-font);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}

.metricas-container > div > p {
    color: var(--secondary-color-font);
    font-size: 16px;
    font-weight: 400;
}

/* seção vagas abertas */
.talentos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.talentos-container > h4 {
    font-family: var(--primary-font);
    font-size: 14px;
    background-color: rgba(142, 36, 36, 5%);
    color: var(--color-red-dark);
    border-radius: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 125px;
}

.talentos-container > h1 {
    font-family: var(--primary-font);
    color: var(--primary-color-font);
    font-size: 36px;
    font-style: semi-bold;
    margin-bottom: 20px;
}

.talentos-container > p {
    font-family: var(--primary-font);
    font-size: 20px;
    color: var(--secondary-color-font);
    margin-bottom: 64px;
}

.talentos-container > img {
    width: 80vw;
    margin-bottom: 64px;
}

/* cards vagas */
.grid-gap {
    display: grid;
    gap: 24px;
    margin-bottom: 96px;
}

.categoria-vaga {
    font-family: var(--primary-font);
    font-size: 20px;
    margin: 0 auto;
    margin-top: 64px;
    width: 50%;
}

.vaga {
    font-family: var(--primary-font);
    font-weight: 500;
    margin: 0 auto;
    border: 1px solid #EAECF0;
    border-radius: 16px;
    width: 50%;
    padding: 24px;
    display: grid;
    gap: 32px;
}

.titulo-vaga {
    color: var(--primary-color-font);
    font-size: 18px;
}

.informacoes-vaga {
    font-size: 16px;
    color: var(--secondary-color-font);
}

.informacoes-vaga > span {
    margin-right: 15px;
}